@{ViewBag.Title = "UserDetails";}
@{ViewBag.Title = "CartItemsTotal";}
@{ViewBag.Title = "CartTotalCost";}



@{
    ViewBag.Title = "Contact";
}

<div class="RegBox">
    <div class="ContactRegBox">
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>

        <address>
            <p><strong>Support:</strong></p>
            <p><a href="mailto:Support@FrothyClouds.com">Support@FrothyClouds.com</a></p>
            <p></p><strong>Marketing:</strong>
            <p><a href="mailto:Marketing@FrothyClouds.com">Marketing@FrothyClouds.com</a></p>
        </address>
    </div>
</div>