@{
    ViewBag.Title = "Home Page";
}

<div id="RegBox">
    <div id="Welcome">
        <h3>
            Welcome to the<br />
            <b>Frothy Clouds Coffee Shop!</b><br />
            @Html.ActionLink("Register", "Register", "Home")
        </h3>

    </div>
</div>