


<div id="RegBox">
    <div>
        <p><b>Fill in all fields to register</b></p>
        <form action="AddUser" method="post">
            <p>
                Pronoun :<select name="Pronoun">
                    <option value="Mr.">Mr.</option>
                    <option value="Mrs.">Mrs</option>
                    <option value="Ms.">Ms.</option>
                    <option value="Ind.">Ind.</option>
                    <option value="Mx.">Mx.</option>
                </select>
            </p>
            <p><input name="FirstName" placeholder="First Name.." /></p>
            <p><input name="LastName" placeholder="Last Name.." /></p>
            <p><input name="email" type="email" placeholder="E-Mail Address.." /></p>
            <p><input name="Phone" type="tel" placeholder="Telephone Number.." /></p>
            <p><input name="Password" type="password" placeholder="Password.." /></p>

            <input type="submit" />

        </form>
    </div>

</div>