<div class="RegBox">
    <div class="CenterRegBox">

        <h2 class="PaddingHeader"><b>Fill in all fields to register</b></h2>
        @if((TempData["message"] != null))
        {<p>@Html.Encode(TempData["message"])</p>}

         <form action="RegisteredUser" method="post">
             <input name="FirstName" placeholder="First Name.." class="form-control" required />
             <input name="LastName" placeholder="Last Name.." class="form-control" required />
             <input name="Email" type="email" placeholder="E-Mail Address.." class="form-control" required />
             <input name="Age" type="number" min="18" placeholder="Age.." class="form-control" required />
             <input name="Password" type="password" placeholder="Password.." class="form-control" required />
             <input name="ConfirmPassword" type="password" placeholder="Confirm Password.." class="form-control" required />

             <input type="submit" />

         </form>
    </div>

</div>